@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
}

.header {
  width: device-width;
    background-color: #f7f7f700;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'left middle right';
    z-index: 3;

}

.header.hight {
    top:-61;
}

.header-left {
    display: flex;
    grid-area: left;
    align-items: center;
    justify-content: center;
}

.header-left .logo {
    color: aliceblue;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: middle;
    width: 100%;
}

.middle {
  margin: 10px;
  width: 65px;
}
.item {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  display: inline-block;
  overflow: hidden;
  &:hover,
  &:focus {
    .text {
      transform: translate3d(0, 105%, 0);
    }
  }
}
.text{
  display: inline-block;
  position: relative;
  transition: transform .3s;

  &:before {
      position: absolute;
      content: attr(data-hover);
  }
  color: aliceblue;

  &:before {
      top: -105%;
      color: #F57D1F;
      font-family: "Kanit", sans-serif;
      font-weight: 400;
  }
}
.header-right {
    display: flex;
    text-align: right;
    grid-area: right;
    align-items: center;
    justify-content: center;
    right: 10%;
}

.menu {
    color: aliceblue;
}

.header-right .fas {
    display: block;
}

.header-right .item {
    right: 10%;
}

.main-banner {
    position: relative;
    display: flex;
    background-image: url('7a5e8efa4d7644e054fb4e4517c8bf00.jpg');
    object-fit: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner .img {
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 600px;
    top:100%
}
.img-banner1 {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 650px;
    transform: translate(-40px,0);
    z-index: 0;
}
.img-banner2 {
    position: absolute;
    left: 10%;
    bottom: 0%;
    width: 100%;
    transform: translate(-40px,0);
    z-index: 2;
}

.marquee {
    position: absolute;
    top:50px;
    height: auto;
    width: 100%;
    overflow: hidden;
    
}
.marquee-inner {
    display: flex;
    flex-direction: row;
}
.marquee-part{
    display: flex;
    flex-shrink: 0;
    z-index: 1;
}
.marquee h1{
    font-size: 15rem;
    bottom: 10%;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffff;
    width: max-content;
    white-space: nowrap;
}
.marquee h1::after,.marquee h1:before {
    content: '\00A0 \00A0 \00A0 \00A0' ;
}

.dropdown_menu {
  position: fixed;
  display: none;
  background-color: #000000;
  height: 0%;
  width: 100%;
  transition: height 0.3s ease;
  z-index: 4;
}
.dropdown_menu .openmenu{
  display: flex;
  justify-content: right;
  height: 100px;
  top: 0%;
}

.openmenu .openmenu2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 25%;
}

.background_menu {
  color: aliceblue;
  display: grid;
  justify-items: center;
}
.nav-item a {
  width: 100%;
  color: aliceblue;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 80px;
  opacity: 0;
  transform: translateY(20px); /* เริ่มต้นให้ลิงก์อยู่ด้านล่าง */
  transition: opacity 0.3s ease, transform 0.3s ease; /* เพิ่มการเปลี่ยนแปลง */
}
.dropdown_menu :hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 560px){
    .cursor {
      display: none;
    }
    .middle-banner {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: 'img-banner' 'message-benner';
    }
    .header-middle {
        display: none;
    }
    .header-right .item{
        display: none;
    }

    .header-right .fas {
        display: block;
        text-align: right;
        grid-area: right;
    }
    .img-banner1 {
        max-width:600px;
    }
    .img-banner2 {
        max-width: 550px;
    }
    .main-about h1 {
        display: inline-block;
        font-size: 60%;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        margin: 0;
        padding: 0%;
        
    }
    .cursor {
      display: none;
    }
}
.about {
  transform: translate(-50%, -50%);
  background-color:#0D0D0D;
  min-height: 110vh;
}
.main-about {
    margin-inline: 1.5rem;
    padding-block: 5rem;
    color: #ffffff;
    display: block;
    flex-direction: column;
    top:0;
    text-align: center;
}
.main-about ul {
  margin: 0%;
  padding: 0%;
}
.main-about h1 {
    display: inline-block;
    font-weight: 500;
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    margin: 0;
    animation: myAnim 2s ease 0s 1 normal forwards;
    animation-timeline:view();
}
.main-about a {
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    animation: myAnim 2s ease 0s ;
    animation-timeline:view();
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.magnetic-btn {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
  font-family: "Monument Extended", serif;
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.magnetic-btn .text {
  position: absolute;
}
.magnetic-btn .foreground-text {
  opacity: 0;
  z-index: 1;
  color: #f7f7f7;
}
.magnetic-btn:after {
  content: "";
  position: relative;
  z-index: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #F72798;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.magnetic-btn:hover {
  border-color: transparent;
}
.magnetic-btn:hover::after {
  width: 100%;
  height: 100%;
}
.magnetic-btn:hover .text.foreground-text {
  opacity: 1;
}

.cursor{
    display: block;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background: #ffffff;
    transform: translate(-50%,-50%);
    transition: transform 0.3s ease;
    pointer-events: none;
    mix-blend-mode: difference;
}
ul:hover ~ .cursor {
    transform: scale(6) ;
    
}
@media screen and (max-width: 560px) {
  .cursor {
    display: none;
  }
}
.project-title{
  z-index: 2;
  mix-blend-mode: difference;
}
.project-title-1{
  z-index: 2;
  mix-blend-mode: none;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.project-title-1 h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.project-title h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.project-categ-1 {
  font-family: "Kanit", sans-serif;
  font-weight: lighter;
  z-index: 2;
  mix-blend-mode: none;
}
.project-categ {
  font-family: "Kanit", sans-serif;
  font-weight: lighter;
  z-index: 2;
  mix-blend-mode: difference;
}
.bg-project {
  background-color: #0D0D0D;
  margin: 0 auto;
  height: 110vh;
  width: 100%;
}

.bg-project .text-project{
  margin: 0 auto;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #f7f7f7;
  width: 80%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.project {
  display: flex;
  border-bottom: 1px solid #ffffff60;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 3;
  color: rgb(255, 255, 255);
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.project-img {
  opacity: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.project:hover .project-img{
  opacity: 1;
  animation: Hover-pg 2s ease 0s 1 normal forwards;
}
@keyframes Hover-pg {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}
.footer {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "top","bottom";
}
.footer ul h1 {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.footer ul {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #000000;
}
.footer-about{
  background-color: aliceblue;
  grid-area: "top";
  display: block;
  justify-items: center;
  align-content: center;
  text-align: center;
}
.icon {
  margin: 10px;
  font-size: 30px;
}
.footer-soci{
  grid-area: "bottom";
  background-color: #F57D1F;
  display: flex;
  justify-content: center;
  align-items: center;
}
